<mat-sidenav-container class="container">
  <mat-sidenav
    #sidenav
    mode="side"
    class="example-sidenav"
    [fixedInViewport]="true"
  >
    <button mat-button class="button__back" (click)="sidenav.toggle()">
      <mat-icon class="icon_back">arrow_back</mat-icon>
    </button>

    <div class="filter-container">
      <h2 class="title-filter">Total de casos confirmados</h2>
      <p class="total-confirmed">{{ sideTotalConfirmedCases | number }}</p>

      <p class="cases cases--actives">
        Casos activos: <span>{{ sideTotalActives | number }}</span>
      </p>
      <p class="cases cases--recovered">
        Casos recuperados
        <span style="color: green;">{{ sideTotalRecovered | number }}</span>
      </p>
      <p class="cases cases--dead">
        Muertes <span style="color: red;">{{ sideTotalDeads | number }}</span>
      </p>

      <form [formGroup]="filterForm" class="filter-form">
        <h2>Filtrar por estado</h2>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label class="label">
            Selecciona un estado:
          </mat-label>
          <input
            type="text"
            aria-label="Number"
            matInput
            formControlName="autoComplete"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="optionSelected()"
          >
            <mat-option
              *ngFor="let option of filterStateOptions | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div *ngIf="activeCloseButton" class="card">
          <span>{{ stateSelected }}</span
          ><button
            class="button-info-select-state"
            (click)="cleanFilterStates()"
            mat-button
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <google-map
      class="google-map"
      height="100%"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      [options]="optionsMap"
    >
      <map-marker
        #marker="mapMarker"
        *ngFor="let markers of markerCases"
        [position]="markers.markerPosition"
        [options]="markers.markerOptions"
        (mapMouseover)="openInfoWindow(marker, markers)"
        (mapMouseout)="closeInfoWindow()"
      >
      </map-marker>

      <map-info-window class="info-window">
        <h2 class="info-window__title">{{ templateInfoWindow?.state }}</h2>
        <h3 class="info-window__total-cases">
          Casos totales:
          <span>{{
            templateInfoWindow?.confirmedCases + templateInfoWindow?.deadCases
              | number
          }}</span>
        </h3>
        <p class="info-window__cases info-window__cases--confirmed-cases">
          Casos confirmados:
          <span>{{ templateInfoWindow?.confirmedCases | number }}</span>
        </p>
        <p class="info-window__cases info-window__cases--confirmed-recovered">
          Casos recuperados:
          <span>{{ templateInfoWindow?.recoveredCases | number }}</span>
        </p>
        <p class="info-window__cases info-window__cases--dead-cases">
          Muertos: <span>{{ templateInfoWindow?.deadCases | number }}</span>
        </p>
      </map-info-window>
    </google-map>

    <button class="button" mat-button (click)="sidenav.toggle()">
      <mat-icon class="button__icon">menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
